<footer class="section section-secondary">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h1>Tweetalytics</h1>
        <p>Tweetalytics is an app that allows users to analyze a body of text, either through uploaded textual data or JSON responses from the Twitter API, for analyzing the general sentiment of the text. Tweetalytics is a project built by <a class="footer-links" href="https://www.linkedin.com/in/patelsagar">Sagar Patel</a>, <a class="footer-links" href="https://www.linkedin.com/in/mindyuan">Mindy Yuan</a> and <a class="footer-links" href="https://www.linkedin.com/in/leaheinhorn">Leah Einhorn</a> who are students of The Flatiron School.</p>
      </div>
      <div class="col-sm-6">
        <p class="text-info text-right">
          <br>
          <br>
        </p>
        <div class="row">
          <div class="col-md-12 hidden-xs text-right">
            <a href="https://github.com/sagarpatel8384/brand-analytics">
              <i class="fa fa-3x fa-fw fa-github text-inverse"></i>
            </a>
            <a href="https://github.com/itsatype" target="_blank">
              <img src="<%= image_url('leah.png') %>" class="center-block img-circle img-responsive profile-pic">
            </a>
            <a href="https://github.com/sagarpatel8384" target="_blank">
              <img src="<%= image_url('sagar.jpg') %>" class="center-block img-circle img-responsive profile-pic">
            </a>
            <a href="https://github.com/mindyyuan" target="_blank">
              <img src="<%= image_url('mindy.jpg') %>" class="center-block img-circle img-responsive profile-pic">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
