<table class="table table-striped table-condensed">
  <h3>Score Analysis</h3>
  <tr>
    <th>Score Type</th>
    <th width="50%">What it Measures</th>
    <th width="12%">Range</th>
    <th>Breakdown</th>
  </tr>
  <tr>
    <td>Overall Sentiment</td>
    <td>Positivity or negativity of text based on adding the sentiments of individual words</td>
    <td>-100 to 100%</td>
    <td>Negative: -100 to -1% <br>Neutral: 0% <br> Positive: 1 to 100%</td>
  </tr>
  <tr>
    <td>Polarity Score</td>
    <td>The difference between the most positive and negative word in the body of text</td>
    <td>0 to 10</td>
    <td>0-3: Mild <br>4-6: Moderate <br> 7-10: Polarizing</td>
  </tr>
  <tr>
    <td>Highlighted Words</td>
    <td>Identified as a positive or negative word in our keyword list</td>
    <td><div class="foo dark-red"></div>
      <div class="foo light-red"></div>
      <div class="foo light-green"></div>
      <div class="foo dark-green"></div>
     </td>
    <td>
      <div class="foo dark-red"></div>Very Negative<br>
      <div class="foo light-red"></div>Negative<br>
      <div class="foo light-green"></div>Positive<br>
      <div class="foo dark-green"></div>Very Positive<br>
    </td>
  </tr>
</table>
