<div class="col-md-12">
  <h2><%= @document.title %></h1>
  <h3>Overall Sentiment: <%= @document.sentiment.sentiment_percentage %></h3>

  <h3>Polarity Score: <%= @document.sentiment.polarity_score %></h3>

  <p><%= @document.text %></p>
</div>
